################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JavaScriptTest/v15
/CS4770/bin
/CS4770/node_modules
/CS4770/obj/Release
/CS4770/obj
/.vs/config
/.vs/CS4770/v15
/CS4770/public/stylesheets
/CS4770/client/css
/CS4770/views
/CS4770/routes
/CS4770/README.md
/CS4770/4770 RGF.docx
/docs/